doctype
html
 head
   title Calculator
   script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
   script(type="text/javascript" src="../javascript/script.js")
   link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous')
   link(href="../stylesheets/css/style.css" rel="stylesheet" type="text/css")
body.col-xs-12.col-sm-6.col-lg-8
   div.box
    div(id='result')
     div(id='screen')
       h1
    table
      tr
        td C
        td sqrt
        td %
        td *
      tr
        td 7
        td 8
        td 9
        td /
      tr
        td 4
        td 5
        td 6
        td +
      tr
        td 1
        td 2
        td 3
        td -
      tr
        td(colspan='2') 0
        td .
        td =
