body {
  background: linear-gradient(to left, #808080, #add8e6);
}
.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
#screen {
  height: 40px;
  width: 342px;
  background-color: #f0f8ff;
}
h1 {
  text-align: right;
  margin-right: 5px;
}
table,
tr,
td {
  padding: 10px;
  text-align: center;
  border: 0.5px solid #899299;
  border-collapse: collapse;
  color: #f0f8ff;
}
td {
  font-size: 25px;
  padding-top: 4px;
  padding-right: 30px;
  padding-left: 30px;
}
td:hover {
  cursor: pointer;
  background-color: #acb3b9;
  transition: 1s;
}
table {
  background-color: #959ea5;
}
tr:first-of-type,
td:last-child {
  background-color: #c4ccd3;
}
